
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
</head>
<script src="/socket.io/socket.io.js" defer></script>
<script src="js/jquery.min.js" defer></script>
<script src="js/scripts.js" defer></script>

<body>
    <div id="msg"></div>
    <form action="">
        <input autocomplete="off" id="message">
        <button>Envoyer</button>
    </form>
</body>
</html>